<%= class Prototype < MVP %>
<%= LineupHQ %>

<TrelloCards>

Prototype features:

1) Report Cards<Get-copy-from-Noah><Instructor-one-touch>
2) Class MGNT<class-list::late-students::ski-splits>
3) Instructor Tipping<Stubbed-P2P-solution>
4) GPS tagging in Children's Ski School bibs<MVP>Stubbed
5) <what-is-mission-critical?>

Needs:

1) Light design work mock-up - can use custom TBS?
2) Stubbed out features
3) Responsive Bootstrap
4) Stalk someone's EpicMix acct

<div class="mind-body"> these trello's can just be added
    when I get connectivity</div>
    <br />
    <br />
  <div> </div>
